@import "tailwindcss/preflight";
@tailwind utilities;

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #ff00be;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Wix Madefor Display", sans-serif;
}

.wix-madefor-display {
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: auto;
  font-style: normal;
}

@keyframes moving-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes moving-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-moving-right {
  animation: moving-right 100s linear infinite;
}

.animate-moving-left {
  animation: moving-left 100s linear infinite;
}

@layer utilities {
  .custom-scrollbar {
    scrollbar-width: thin;                /* Firefox */
    scrollbar-color: #61616120 #ffffff;   /* Firefox */
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;                           /* ширина */
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f3f4f6;                  /* трек */
    border-radius: 9999px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #ff00be80;
    border-radius: 9999px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #ff00be;
  }
}